<!DOCTYPE html>
<html>
<head>
    <title>编辑软件包</title>
</head>
<body>
    <h1>编辑软件包</h1>
    <form method="post" action="{{ url_for('edit', id=download[0])}}">
        <label for="name">名称：</label>
        <input type="text" name="name" value="{{ download[1] }}" required style="width: 500px;"><br>
        <label for="description">描述：</label>
        <input type="text" name="description" value="{{ download[2] }}" style="width: 500px;"><br>
        <p>下载链接格式按格式： http://127.0.0.1:8082/data/ + 具体路径<br>
        例如：<br>
        http://127.0.0.1:8082/data/输入法安装包-请复制到电脑上双击安装/万能五笔输入法_8.0.exe</p>
        <label for="download_url">下载链接：</label>
        <input type="text" name="download_url" value="{{ download[3] }}" required style="width: 500px;"><br>
        <label for="upload_date">上传日期：</label>
        <input type="date" name="upload_date" value="{{ download[4] }}" required><br>
        <input type="submit" value="保存">
        </form>
        
        </body>
        </html>