<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>编辑分类</title>
    <link rel="stylesheet" href="/static/table.css">
</head>
<body>
    <h1>编辑分类</h1>
        <table>
            <thead>
                <tr>
                    <th scope="col">优先级</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categorys %}
                <form action="/edit_category" method="post">
                    <tr>
                        <td>
                            <div class="form-group">
                                <input type="text" class="form-control" id="category_name" name="category_name" value="{{ category[1] }}" readonly>
                                <input type="text" class="form-control" id="category_id" name="category_id" value="{{ category[2] }}" >
                            </div>
                        </td>
                        <td>
                            <button type="submit" class="custom-btn btn-11">确认修改</button>
                        </td>
                    </tr>
                </form>
                {% endfor %}
            </tbody>
</body>
</html>