<!DOCTYPE html>
<html>
    <form method="post" action="{{ url_for('edit', id=download[0])}}">

        <header>
            <h2>添加软件包</h2>
            <div>
                下载链接格式按格式： http://127.0.0.1:8082/data/ + 具体路径
                    例如：
                    http://127.0.0.1:8082/data/输入法安装包-请复制到电脑上双击安装/万能五笔输入法_8.0.exe
            </div>
            <link rel="stylesheet" href="/static/system.css">
        </header>

        <div>
            <label class="desc" id="title1" for="name">名称：</label>
            <div>
                <input name="name" id="Field1" type="text" class="field text fn" value="{{ download[1] }}" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label class="desc" id="title4" for="description">
                描述：
            </label>
            <div>
                <textarea id="Field4" name="description" spellcheck="true" rows="10" cols="50" tabindex="4"> {{ download[2] }} </textarea>
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="category">分类：</label>
            <div>
                <input name="category" id="Field1" type="text" class="field text fn" size="8" tabindex="1" value="{{ download[6] }}">
            </div>
        </div>

        <div>
            <label class="desc" id="title4" for="download_url">
                下载链接：
            </label>
    
            <div>
                <textarea id="Field4" name="download_url" spellcheck="true" rows="2" cols="50" tabindex="4">{{ download[3] }}</textarea>
            </div>
        </div>

        <div>
            <label class="desc" id="title1" for="priority">优先级（数字越大显示越前）：</label>
            <div>
                <input name="priority" id="Field1" type="text" class="field text fn" value="{{ download[5] }}" size="8" tabindex="1">
            </div>
        </div>

        <div>
            <label for="upload_date">上传日期：</label>
            <div>
                <input type="date" name="upload_date" required value="{{ download[4] }}"><br>
            </div>
        </div>
    
        <div>
            <div>
                <input id="saveForm" name="saveForm" type="submit" value="保存">
            </div>
        </div>

</form>
        
</html>